:root {
  --primary-background: #212529;
  --secondary-background: #343a40;
  --tertiary-background: #495057;
  --quartery-background: #6c757d;

  --primary-font: #f8f9fa;
  --secondary-font: #e9ecef;
  --tertiary-font: #dee2e6;
  --quartery-font: #ced4da;
  --fifth-font: #adb5bd;
}

.nav_container {
  width: 100vw;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.15);
  background-color: var(--secondary-background);
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 5;
}

.inner_nav_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.8rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_side_nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--primary-font);
}

.left_side_nav h1 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 3px;
}

@media (max-width: 500px) {
  .left_side_nav h1 {
    font-size: 1rem;
  }
}
